<!DOCTYPE html>
<html>

<head>
    <title>Twitter Opinion Visualization</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <!--include the headerc-->
    <% include ./partials/header %>
    <div class="container">

        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#home">Sentiment</a></li>
            <li><a data-toggle="pill" href="#menu1">Heat Map</a></li>
            <li><a data-toggle="pill" href="#menu2">Timeline</a></li>
            <li><a data-toggle="pill" href="#menu3">Tweets</a></li>

        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3 style='color:#38A1F3'>Emotion Visualization</h3>
                <form action="">
                    <div class='row'>
                        <div class='col-sm-8'>
                            <div class="form-group">
                                <label for="key">Key word:</label>
                                <input type="text" class="input-sm form-control" id="key">
                            </div>
                        </div>
                        <div class='col-sm-4'>
                            <div class="form-group">
                                <label for="days">Untill Date:</label>
                                <input type="date" class="input-sm form-control" id="days">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div id="menu1" class="tab-pane fade">
                <h3 style='color:#38A1F3'>Heat Map</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3 style='color:#38A1F3'>Timeline</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam.</p>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3 style='color:#38A1F3'>Tweets</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>
        <img src='https://cdn5.identityforce.com/wp-content/uploads/2017/03/twitter-scams-900x500.jpg' height="70%"
            width="100%">

    </div>
</body>

</html>